@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');
@font-face {
    font-family: "ModernAge";
    src: url(Fonts/Modern\ Age.ttf);
}
@font-face {
    font-family: "Quincy";
    src: url(Fonts/QuincyItalic-Ea3Rz.ttf);
}

:root{
    --lightgreen: #10ec2a;
    --xogray: #10ec2a;
    --lightgray: #f6f6f6;
    --blue: #02223b;
    --Book: #b9e2d3;
    --AD:#e1eff2;
    --lightblue:#283b4c;
    --gradient: linear-gradient(90deg, var(--darkgreen), var(--lightgreen));
}

*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 5%;
    background: var(--blue);
    position: fixed;
    width: 90%;
    top: 0;
}

header img{
    max-width: 60%;
    height: auto;
}

header button{
    background: var(--lightgreen);
    color: var(--blue);
    border: 0;
    padding: .8rem 1.6rem;
    border-radius: .3rem;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.Home{
    display: flex;
    align-items: flex-start;
    justify-content: left;
    padding: 13% 9%;
    background: url(Homeimages/background.png) no-repeat;
    background-position: center;
    background-size: cover;
}

.HomeTXT{
    width: 55%;
}

.HomeTXT h1{
    font-family: 'modernAge';
    font-size: 6vw;
    color: var(--blue);
}

.HomeTXT h1 span{
    font-family: 'modernAge';
    font-size: 6vw;
    color: var(--lightgreen);
}

.HomeTXT h2{
    margin-top: 2rem;
    font-size: 2.5vw;
    font-weight: 400;
}

.HomeTXT p{
    margin-top: 1rem;
    font-size: 1.25vw;
    font-weight: 300;
    font-style: italic;
}

.HomeTXT button{
    margin-top: 3rem;
    border: 0;
    padding: .6rem 1.5rem;
    background: var(--lightgreen);
    color: var(--blue);
    border-radius: 5rem;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
}

.HomeBook{
    width: 45%;
    padding-left: 8%;
}

.HomeBook form{
    background: var(--Book);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem;
    border-radius: .5rem;
}


.HomeBook h1{
    font-size: 1.5rem;
    color: var(--lightblue);
    font-weight: 600;
    text-align: left;
    align-items: flex-start;
}

.HomeBook p{
    font-size: .6rem;
    margin: 1rem 0;
}

.HomeBook input{
    width: 100%;
    margin: 1rem;
    padding: 1rem .4rem;
    border-radius: .2rem;
    border: 0;
    background: var(--lightgray);
}

.HomeBook ::placeholder{
    font-style: italic;
}

.HomeBook button{
    width: 103%;
    border: 0;
    background: var(--blue);
    padding: 1rem 0 1rem 0;
    color: var(--xogray);
    margin-top: 3rem;
    border-radius: .2rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    margin-left: -.3rem;
}

.HomeBook  a{
    width: 100%;
    text-decoration: none;
}

.Advantage{
    display: flex;
    align-items: center;
    padding: 6rem 6%;
    background: var(--AD);
}

.adCard{
    width: 50%;
}

.adCard img{
    max-width: 80%;
    height: auto;
}

.adText{
    width: 50%;
    padding-left: 5rem;
}

.adText h1{
    font-family: "Quincy";
    font-size: 3.5rem;
    font-weight: 300;
    color: var(--blue);
}

.adText p{
    margin: 2rem 0;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    color: var(--blue);
}

.adText button{
    border: 0;
    color: var(--lightgreen);
    background: var(--blue);
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 300;
    cursor: pointer;
}

.CTA{
    display: flex;
    padding: 5rem 8%;
    background: url(Homeimages/cta\ bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.ctaLeft{
    width: 50%;
    margin-right: 4rem;
}

.ctaLeft details{
    background: var(--blue);
    margin: 2rem 0;
    padding: 1rem 5%;
    color: var(--lightgreen);
    cursor: pointer;
}

.ctaLeft details p{
    background: var(--AD);
    padding: 2.5rem 1.2rem;
    color: var(--blue);
    margin: 1rem -1.85vw -2vw -1.85vw;
    font-size: .8rem;
}

.ctaRight{
    width: 50%;
    background: var(--AD);
    padding: 2rem;
}

.ctaRight h1{
    font-size: 2rem;
    font-weight: 600;
}

.ctaRight h2{
    margin-top: 1.6rem;
    font-size: 1rem;
    font-weight: 600;
}

.ctaRight p{
    font-size: .7rem;
    font-weight: 300;
    font-style: italic;
}

.ctaRight button{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--blue);
    color: var(--lightgreen);
    padding: 1rem 0;
    border: 0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

.ctaRight button img{
    margin-right: .5rem;
}

.About{
    display: flex;
    align-items: center;
}

.aboutLeft{
    width: 50%;
}

.aboutLeft img{
    max-width: 80%;
    height: auto;
}

.aboutRight{
    width: 50%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--blue);
}

.aboutRight h1{
    text-align: left;
    font-size: 3rem;
}

.aboutRight p{
    text-align: right;
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 500;
}
.aboutRight button{
    width: 100%;
    border: 0;
    background: var(--blue);
    padding: 1rem 0;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--lightgreen);
    font-size: 1rem;
    font-weight: 500;
}

.aboutRight a{
    width: 100%;
    border: 0;
    background: var(--blue);
    padding: 1rem 0;
    margin-top: 2rem;
    cursor: pointer;
    color: var(--lightgreen);
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
}



.Bookings{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem 2% 0 2%;
}



.rideDetails{
    background: var(--AD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 1.5rem;
    width: 30%;
    height: 400px;
}

.rideDetailsReceipt{
    background: var(--AD);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    margin: 0 1.5rem;
    width: 30%;
    height: 400px;
}

.rideDetails h1{
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 600;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.rideDetailsReceipt h1{
    font-size: 1.5rem;
    color: var(--blue);
    font-weight: 600;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 2rem;
}


.rideDetails h3{
    font-weight: 600;
    font-size: 1rem;
    margin: 1rem 0;
}

.rideDetailsReceipt h3{
    font-weight: 600;
    font-size: 1rem;
    margin: .6rem 0;
}

.rideDetails p{
    font-size: .9rem;
    font-weight: 500;
}

.rideDetailsReceipt p{
    font-size: .7rem;
    font-weight: 500;
}

.rideDetails input{
    width: 95%;
    margin: 1rem 0;
    padding: 1rem .4rem;
    border-radius: .2rem;
    border: 0;
    background: var(--lightgray);
}

.rideDetails select{
    width: 100%;
    margin: 1rem 0;
    padding: 1rem .4rem;
    border-radius: .2rem;
    border: 0;
    background: var(--lightgray);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    width: 100%;
}


.rideDetails button{
    width: 100%;
    border: 0;
    background: var(--blue);
    padding: 1rem 0 1rem 0;
    color: var(--xogray);
    margin-top: 3rem;
    border-radius: .2rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.rideDetailsReceipt button{
    width: 100%;
    border: 0;
    background: var(--blue);
    padding: 1rem 0 1rem 0;
    color: var(--xogray);
    margin-top: 3rem;
    border-radius: .2rem;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.recieptText{
    display: flex;
    align-items: center;
    justify-content: left;
}

.recieptText p{
    margin-left: 1rem;
    color: var(--blue);
    font-size: .8rem;
}

.popupcon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--blue);
    color: var(--AD);
    border-radius: 10px;
    padding: 2rem 4% 2rem 4%;
    width: 35vw;
}

.popupcon p{
    font-weight: 400;
    font-size: 1vw;
    margin-bottom: 2rem;
    text-align: center;
}

.warning{
    max-width: 5vh;
    height: 5vh;
    display: flex;
    margin: 1rem 0 1rem 0;
}

.popupcon h2{
    font-weight: 700;
    font-size: 2.5vw;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.ctaBNT{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#checkOut{
    border: none;
    background: var(--xogray);
    color: var(--blue);
    border-radius: .2rem;
    padding: 1.1em 3.5em;
    cursor: pointer;
    font-weight: 600;
    font-size: .8vw;
}

#closePopupButton{
    border: none;
    background: var(--AD);
    color: var(--blue);
    border-radius: .2rem;
    padding: 1.1em 3.5em;
    cursor: pointer;
    font-weight: 600;
    font-size: .8vw;
}


.popup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem 4% 0 4%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: var(--blue);
    padding: 20px;
    border-radius: 5px;
    color: var(--AD);
    background: url(Homeimages/popup\ bg.png) no-repeat;
    background-position: center;
    background-size: cover;
}

#paymentOption{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem 4% 0 4%;
    width: 100%;
    display: none;
    position: fixed;
    background-color: var(--blue);
    padding: 20px;
    border-radius: 5px;
    color: var(--blue);
    background: var(--lightgray);
}


.payCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--AD);
    color: var(--blue);
    border-radius: 10px;
    padding: 2rem 4% 2rem 4%;
    width: 35vw;
}

.payCon h1{
    font-weight: 700;
    font-size: 2vw;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.payIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.piTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.piButtom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.payIcon img{
    max-width: 85%;
    height: auto;
    border-radius: .3rem;
}

.payCon button{
    border: none;
    background: var(--AD);
    color: var(--blue);
    border-radius: .2rem;
    padding: 1.1em 3.5em;
    cursor: pointer;
    font-weight: 600;
    font-size: .8vw;
}

.total{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.2vw;
    margin: 2rem 0 2vw 0;
    background: var(--blue);
    padding: 1rem 7.3vw;
    color: var(--lightgreen);
}

.total h4{
    margin-left: 1rem;
    color: var(--lightgreen);
    display: block;
}


.payPal{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    background: var(--lightgray);
    width: 100%;
}

.payPalPayment{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--AD);
    color: var(--blue);
    border-radius: 10px;
    padding: 2rem 4% 2rem 4%;
    width: 30vw;
}

.payPalPayment img{
    max-width: 4vw;
    height: 4vw;
    margin: 1.5rem 0 3rem 0;
}

.payPalPayment h1{
    font-size: 1.4vw;
    font-weight: 700;
    margin-bottom: 1rem;
}

.payPalPayment p{
    font-size: .8vw;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 4vw;
}

.payPalPayment button{
    font-size: .8rem;
    font-weight: 600;
    background: var(--blue);
    padding: .7vw 6vw;
    color: var(--lightgreen);
    border: 0;
    border-radius: 5rem;
    cursor: pointer;
}


.applePay{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    background: var(--lightgray);
    width: 100%;
}

.applePayPayment{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--AD);
    color: var(--blue);
    border-radius: 10px;
    padding: 2rem 4% 2rem 4%;
    width: 30vw;
}

.applePayPayment img{
    max-width: 4vw;
    height: 4vw;
    margin: 1.5rem 0 3rem 0;
}

.applePayPayment h1{
    font-size: 1.4vw;
    font-weight: 700;
    margin-bottom: 1rem;
}

.applePayPayment p{
    font-size: .8vw;
    font-weight: 400;
    margin-bottom: 2rem;
    text-align: center;
    padding: 0 4vw;
}

.applePayPayment button{
    font-size: .8rem;
    font-weight: 600;
    background: var(--blue);
    padding: .7vw 6vw;
    color: var(--lightgreen);
    border: 0;
    border-radius: 5rem;
    cursor: pointer;
}



.cardPay{
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    background: var(--lightgray);
    width: 100%;
}

.cardPayPayment{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--AD);
    color: var(--blue);
    border-radius: 10px;
    padding: 2rem 4% 2rem 4%;
    width: 30vw;
}

.cardPayPayment h1{
    font-size: 1.7vw;
    font-weight: 700;
    text-align: center;
    margin-top: 1vw;
}

.cardPayPayment form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardDetails{
    display: flex;
    flex-direction: column;
    margin: 3vw 0 1.5vw 0;
    width: 100%;
}

.CardDetails h3{
    font-size: .7vw;
    font-weight: 400;
    font-style: italic;
    margin-bottom: .2rem;
    padding-left: .3rem;
}

.CardDetails input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 1.2vw .5vw;
    border: 0;
    border-radius: .2rem;
    font-size: 1vw;
    font-weight: 400;
    font-style: italic;
}

.excv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.security{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.6vw;
}

.security h5{
    font-size: 1vw;
    font-weight: 500;
}

.ScImg{
    max-width: 9%;
    height: 9%;
    margin-left: .3rem;
}

.cardPay form button{
    font-size: 1.1vw;
    font-weight: 600;
    background: var(--blue);
    padding: .7vw 2vw;
    color: var(--lightgreen);
    border: 0;
    border-radius: 5rem;
    cursor: pointer;
    margin: 1rem 0;
    width: 50%;
}




@media only screen and (max-width: 600px){


    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 5%;
        background: var(--blue);
        position: fixed;
        width: 90%;
        top: 0;
    }
    
    header img{
        max-width: 60%;
        height: auto;
    }
    
    header button{
        background: var(--lightgreen);
        color: var(--blue);
        border: 0;
        padding: .8rem 1.6rem;
        border-radius: .3rem;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
    }
    
    .Home{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: left;
        padding: 9rem 9% 5rem 9%;
        background: url(Homeimages/background.png) no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    .HomeTXT{
        width: 100%;
    }
    
    .HomeTXT h1{
        font-family: 'modernAge';
        font-size: 12vw;
        color: var(--blue);
    }
    
    .HomeTXT h1 span{
        font-family: 'modernAge';
        font-size: 12vw;
        color: var(--lightgreen);
    }
    
    .HomeTXT h2{
        margin-top: 1rem;
        font-size: 5.5vw;
        font-weight: 400;
    }
    
    .HomeTXT p{
        margin-top: .6rem;
        font-size: 2.7vw;
        font-weight: 300;
        font-style: italic;
    }
    
    .HomeTXT button{
        margin: 2rem 0;
        border: 0;
        padding: .6rem 1.5rem;
        background: var(--lightgreen);
        color: var(--blue);
        border-radius: .4rem;
        font-size: 15px;
        font-weight: 300;
        cursor: pointer;
    }
    
    .HomeBook{
        width: 100%;
        padding-left: 0;
    }
    
    .HomeBook form{
        background: var(--Book);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 2rem;
        border-radius: .5rem;
    }
    
    
    .HomeBook h1{
        font-size: 1.5rem;
        color: var(--lightblue);
        font-weight: 600;
        text-align: left;
        align-items: flex-start;
    }
    
    .HomeBook p{
        font-size: .6rem;
        margin: .6rem 0;
    }
    
    .HomeBook input{
        width: 100%;
        margin: .8rem 0;
        padding: 1rem .4rem;
        border-radius: .2rem;
        border: 0;
        background: var(--lightgray);
    }
    
    .HomeBook ::placeholder{
        font-style: italic;
    }
    
    .HomeBook button{
        width: 104%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        background: var(--blue);
        padding: 1rem 0;
        color: var(--xogray);
        margin-top: 2rem;
        border-radius: .2rem;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
        margin-left: -.5rem;
    }
    
    .Advantage{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 6% 3rem 6%;
        background: var(--AD);
    }
    
    .adCard{
        width: 100%;
    }
    
    .adCard img{
        max-width: 100%;
        height: auto;
    }
    
    .adText{
        width: 100%;
        padding-left: 0rem;
        margin-top: 4rem;
    }
    
    .adText h1{
        font-family: "Quincy";
        font-size: 3rem;
        font-weight: 300;
        color: var(--blue);
    }
    
    .adText p{
        margin: 2rem 0;
        font-size: 1rem;
        font-weight: 300;
        text-align: justify;
        color: var(--blue);
    }
    
    .adText button{
        border: 0;
        color: var(--lightgreen);
        background: var(--blue);
        padding: 1rem 1.5rem;
        font-size: 1rem;
        font-weight: 300;
        cursor: pointer;
    }
    
    .CTA{
        display: flex;
        flex-direction: column;
        padding: 5rem 8%;
        background: url(Homeimages/cta\ bg.png) no-repeat;
        background-size: cover;
        background-position: center;
    }
    
    .ctaLeft{
        width: 100%;
        margin-right: 0rem;
    }
    
    .ctaLeft details{
        background: var(--blue);
        margin: 2rem 0;
        padding: 1rem 5%;
        color: var(--lightgreen);
        cursor: pointer;
    }
    
    .ctaLeft details p{
        background: var(--AD);
        padding: 2.5rem 1.2rem;
        color: var(--blue);
        margin: 1rem -4.2vw -5vw -4.2vw;
        font-size: .8rem;
    }
    
    .ctaRight{
        width: auto;
        background: var(--AD);
        padding: 2rem ;
    }
    
    .ctaRight h1{
        font-size: 2rem;
        font-weight: 600;
    }
    
    .ctaRight h2{
        margin-top: 1.6rem;
        font-size: 1rem;
        font-weight: 600;
    }
    
    .ctaRight p{
        font-size: .7rem;
        font-weight: 300;
        font-style: italic;
    }
    
    .ctaRight button{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        background: var(--blue);
        color: var(--lightgreen);
        padding: 1rem 0;
        border: 0;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 500;
    }
    
    .ctaRight button img{
        margin-right: .5rem;
    }

    .About{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .aboutLeft{
        width: 100%;
        display: none;
    }
    
    .aboutLeft img{
        max-width: 100%;
        height: auto;
    }
    
    .aboutRight{
        width: 100%;
        padding-right: 0%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        color: var(--blue);
        margin-top: 9rem;
    }
    
    .aboutRight h1{
        text-align: left;
        font-size: 3rem;
        margin: 0 9%;
    }
    
    .aboutRight p{
        text-align: justify;
        margin-top: 3rem;
        font-size: 1rem;
        font-weight: 500;
        margin: 2rem 9%;
    }
    .aboutRight button{
        width: 83%;
        border: 0;
        background: var(--blue);
        padding: 1rem 0;
        margin-top: 2rem;
        cursor: pointer;
        color: var(--lightgreen);
        font-size: 1rem;
        font-weight: 500;
        margin: 0 9%;
    }

    .Bookings{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
        padding: 2rem 2% 0 2%;
        margin: 22% 0;
    }

    .Bookings img{
        margin: 2rem 0;
        transform: rotate(90deg);
    }
    
    .rideDetails{
        background: var(--AD);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 0 1.5rem;
        width: 70%;
        height: 400px;
    }

    .rideDetailsReceipt{
        background: var(--AD);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        margin: 0 1.5rem;
        width: 70%;
        height: 400px;
    }
    
    .rideDetails h1{
        font-size: 1.5rem;
        color: var(--blue);
        font-weight: 600;
        text-align: center;
        align-items: flex-start;
        margin-bottom: 2rem;
    }
    
    .rideDetails input{
        width: 95%;
        margin: 1rem 0;
        padding: 1rem .4rem;
        border-radius: .2rem;
        border: 0;
        background: var(--lightgray);
    }
    
    .rideDetails button{
        width: 100%;
        border: 0;
        background: var(--blue);
        padding: 1rem 0 1rem 0;
        color: var(--xogray);
        margin-top: 3rem;
        border-radius: .2rem;
        font-size: 15px;
        font-weight: 700;
        cursor: pointer;
    }

    

    .popupcon{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--blue);
        color: var(--AD);
        border-radius: 10px;
        padding: .7rem 4% 2rem 4%;
        width: 75vw;
    }
    
    .popupcon p{
        font-weight: 400;
        font-size: 2.4vw;
        margin-bottom: 1rem;
        padding: 0 1rem;
        text-align: center;
    }
    
    .warning{
        max-width: 5vh;
        rotate: -90deg;
        height: 5vh;
        display: flex;
        margin: 0rem 0 0rem 0;
    }
    
    .popupcon h2{
        font-weight: 700;
        font-size: 6.5vw;
        text-transform: uppercase;
        margin-bottom: 1rem;
        margin-top: -1rem;
    }
    
    .ctaBNT{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    
    #checkOut{
        border: none;
        background: var(--xogray);
        color: var(--blue);
        border-radius: .2rem;
        padding: 1.1em 3.5em;
        cursor: pointer;
        font-weight: 600;
        font-size: 2.4vw;
    }
    
    #closePopupButton{
        border: none;
        background: var(--AD);
        color: var(--blue);
        border-radius: .2rem;
        padding: 1.1em 3.5em;
        cursor: pointer;
        font-weight: 600;
        font-size: 2.4vw;
    }
    
    
    .popup{
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000vh;
        padding: 0;
        width: 100%;
        position: fixed;
        padding: 0;
        border-radius: 5px;
        color: var(--AD);
        background: url(Homeimages/Group\ 20.png) no-repeat;
        background-position: center;
        background-size: cover;
    }

    .LogoR{
        rotate: -90deg;
    }

    .headR{
        height: 6%;
    }

    #paymentOption{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000vh;
        padding: 2rem 4% 0 4%;
        width: 100%;
        display: none;
        position: fixed;
        background-color: var(--blue);
        padding: 20px;
        border-radius: 5px;
        color: var(--blue);
        background: var(--lightgray);
    }
    
    
    .payCon{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--AD);
        color: var(--blue);
        border-radius: 10px;
        padding: 2rem 4% 2rem 4%;
        width: 75vw;
    }
    
    .payCon h1{
        font-weight: 700;
        font-size: 5vw;
        text-transform: uppercase;
        margin-bottom: 1rem;
        z-index: 1;
    }
    
    .payIcon{
        display: flex;
        width: 80%;
    }

    .piTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -.5rem;
    }
    
    .piButtom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: -2rem;
    }
    
    .payIcon img{
        max-width: 100%;
        height: auto;
        border-radius: .3rem;
        rotate: -90deg;
    }

    
    .payCon button{
        border: none;
        background: var(--AD);
        color: var(--blue);
        border-radius: .2rem;
        padding: 1.1em 3.5em;
        cursor: pointer;
        font-weight: 600;
        font-size: .8vw;
    }

    
    .total{
        font-weight: 700;
        font-size: 2.8vw;
        margin: 0rem 0 2vw 0;
        background: var(--blue);
        padding: 1rem 12vw;
        color: var(--lightgreen);
    }


    .payPal{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 1000%;
        background: var(--lightgray);
        width: 100%;
    }
    
    .payPalPayment{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--AD);
        color: var(--blue);
        border-radius: 10px;
        padding: 2rem 4% 2rem 4%;
        width: 70vw;
    }
    
    .payPalPayment img{
        max-width: 9vw;
        height: 9vw;
        margin: 2.5vw 0 7vw 0;
        rotate: -90deg;
    }
    
    .payPalPayment h1{
        font-size: 3.8vw;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    .payPalPayment p{
        font-size: 2.3vw;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;
        padding: 0 4vw;
    }
    
    .payPalPayment button{
        font-size: 1.1rem;
        font-weight: 600;
        background: var(--blue);
        padding: 1.5vw 10vw;
        color: var(--lightgreen);
        border: 0;
        border-radius: 5rem;
        cursor: pointer;
    }




    .applePay{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 1000%;
        background: var(--lightgray);
        width: 100%;
    }
    
    .applePayPayment{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--AD);
        color: var(--blue);
        border-radius: 10px;
        padding: 2rem 4% 2rem 4%;
        width: 70vw;
    }
    
    .applePayPayment img{
        max-width: 9vw;
        height: 9vw;
        margin: 2.5vw 0 7vw 0;
        rotate: -90deg;
    }
    
    .applePayPayment h1{
        font-size: 3.7vw;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    
    .applePayPayment p{
        font-size: 2.3vw;
        font-weight: 400;
        margin-bottom: 2rem;
        text-align: center;
        padding: 0 4vw;
    }
    
    .applePayPayment button{
        font-size: 1.1rem;
        font-weight: 600;
        background: var(--blue);
        padding: 1.5vw 10vw;
        color: var(--lightgreen);
        border: 0;
        border-radius: 5rem;
        cursor: pointer;
    }


    .cardPay{
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        height: 1000%;
        background: var(--lightgray);
        width: 100%;
    }
    
    .cardPayPayment{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--AD);
        color: var(--blue);
        border-radius: 10px;
        padding: 2rem 4% 2rem 4%;
        width: 75vw;
    }
    
    .cardPayPayment h1{
        font-size: 5vw;
        font-weight: 700;
        text-align: center;
        margin-top: 1vw;
    }
    
    .cardPayPayment form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .CardDetails{
        display: flex;
        flex-direction: column;
        margin: 8vw 0 0vw 0;
        width: 90%;
    }
    
    .CardDetails h3{
        font-size: 2vw;
        font-weight: 400;
        font-style: italic;
        margin-bottom: .2rem;
        padding-left: .3rem;
    }
    
    .CardDetails input{
        width: 100%;
        margin-bottom: 1rem;
        padding: 1.2vw .9vw;
        border: 0;
        border-radius: .2rem;
        font-size: 2.8vw;
        font-weight: 400;
        font-style: italic;
    }
    
    .excv{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .security{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0vw;
    }
    
    .security h5{
        font-size: 2.4vw;
        font-weight: 500;
        margin-right: 1vw;
    }
    
    .ScImg{
        max-width: 9%;
        height: 9%;
        margin-left: .9rem;
        rotate: -90deg;
    }
    
    .cardPay form button{
        font-size: 3.5vw;
        font-weight: 600;
        background: var(--blue);
        padding: 1.9vw 2vw;
        color: var(--lightgreen);
        border: 0;
        border-radius: 5rem;
        cursor: pointer;
        margin: -5vw 0 .3rem 0;
        width: 50%;
    }
    
    

}