@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,900;1,100;1,200;1,300;1,500;1,900&display=swap');

@import url('https://fonts.cdnfonts.com/css/arcon');

                

@font-face {
    font-family: "AvenirBlack";
    src: url(Fonts/AvenirLBlack.otf);
}
@font-face {
    font-family: "AvenirBook";
    src: url(Fonts/AvenirLBook.otf);
}
@font-face {
    font-family: "AvenirRoman";
    src: url(Fonts/AvenirLRoman.otf);
}

@font-face {
    font-family: "AvenirLight";
    src: url(Fonts/AvenirLight.ttf);
}

@font-face {
    font-family: "AvenirHeavy";
    src: url(Fonts/Avenir\ Heavy.ttf);
}

@font-face {
    font-family: "ArconRegular";
    src: url(Fonts/ArconRegular.otf);
}

@font-face {
    font-family: "ArconRegularRounded";
    src: url(Fonts/ArconRoundedRegular.otf);
}

@font-face {
    font-family: "MiyakeRegular";
    src: url(Fonts/miyakeregular.otf);
}

:root{
    --abBlack: #040606;
    --abblackSub: #020202;
    --signature: #040c0d;
    --darkgreen: #040606;
    --BookBG: #02223b;
    --bookInput: #c5d8d6;
    --gray1: #83898a;
    --gold1: #f4c107;
    --gold2: #c65204;
    --AD:#ffffff;
    --ctaBNT: #1d2424;
    --gray2: #0c1010;
    --gray3: #878b8b;
    --gray4: #555b5e;
    --bookForm: #132020;
    --success: #20bf55;
    --gradient: linear-gradient(90deg, var(--gold1), var(--gold2));
}

*{
    margin: 0;
}

a{
    color: var(--Book);
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    height: auto;
}




.submitPop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--BookBG);
    color: var(--bookInput);
    padding: 0 27vw;
}

.submitPop img{
    max-width: 10vw;
    height: auto;
    margin-bottom: 4vh;
}

.submitPop h2{
    font-size: 2vw;
    font-weight: 600;
    font-family: "AvenirHeavy";
    color: var(--success);
    margin-bottom: 4vh;
}

.submitPop p{
    font-size: 1vw;
    font-weight: 400;
    font-family: "AvenirRoman";
    margin-bottom: 2vh;
    text-align: center;
}

.submitPop button{
    padding: .7rem;
    border: 0;
    background: var(--bookInput);
    color: var(--BookBG);
    font-size: 1.6vw;
    font-weight: 500;
    width: 20vw;
    margin-top: 4vh;
    cursor: pointer;
    border-radius: .2rem;
}






































@media only screen and (max-width: 600px){

    .submitPop{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: var(--BookBG);
        color: var(--bookInput);
        padding: 0 10vw;
    }
    
    .submitPop img{
        max-width: 15vw;
        height: auto;
        margin-bottom: 4vh;
    }
    
    .submitPop h2{
        font-size: 5vw;
        font-weight: 600;
        font-family: "AvenirHeavy";
        color: var(--success);
        margin-bottom: 3vh;
        text-align: center;
    }
    
    .submitPop p{
        font-size: 2.2vw;
        font-weight: 400;
        font-family: "AvenirRoman";
        margin-bottom: 1vh;
        text-align: center;
    }
    
    .submitPop button{
        padding: .7rem;
        border: 0;
        background: var(--bookInput);
        color: var(--BookBG);
        font-size: 2.6vw;
        font-weight: 500;
        font-family: "AvenirHeavy";
        width: 40vw;
        margin-top: 4vh;
        cursor: pointer;
        border-radius: .2rem;
    }
    
    

    
}